/* Start Global Rules */
*, 
*::before, 
*::after{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
:root{
    /* Primary */
    --Very-Dark-Blue: hsl(243, 87%, 12%);
    --Desaturated-Blue: hsl(238, 22%, 44%);

    /* Accent */
    --Bright-Blue: hsl(224, 93%, 58%);
    --Moderate-Cyan: hsl(170, 45%, 43%);

    /* Neutral */
    --Light-Grayish-Blue: hsl(240, 75%, 98%);
    --Light-Gray: hsl(0, 0%, 75%);

    /* Fonts */
    --ff-body: 'Open Sans', sans-serif;
    --ff-heading: 'Raleway', sans-serif;
}
ul{
    list-style: none;
}
img{
    width: 100%;
    max-height: 100%
}
button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
a{
    text-decoration: none;
}
/* class for visually hide anything and keep it accessible */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
h1,h2, h3{
    font-family: var(--ff-heading);
    font-weight: 700;
}
@media screen and (min-width: 48em){
    .container{
        width: 46.875rem
    }
}
@media screen and (min-width: 62em){
    .container{
        width: 60.625rem
    }
}
@media screen and (min-width: 75em){
    .container{
        width: 69.375rem
    }
}
@media screen and (min-width: 82em){
    .container{
        width: 79.625rem
    }
}
/* End Global Rules */
/* Start Body Rules */
body{
    font-family: var(--ff-body);
    font-size: 1rem;
    text-align: center;
}
.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.skip-nav{
    position: absolute;
    left: 1rem;
    background-color: var(--Bright-Blue);
    color: #fff;
    padding: .5rem 1.3rem;
    -webkit-box-shadow: 0 0 35px rgba(0,0,0,.1);
            box-shadow: 0 0 35px rgba(0,0,0,.1);
    -webkit-transform: translateY(-150%);
        -ms-transform: translateY(-150%);
            transform: translateY(-150%);
    -webkit-transition: transform .4s ease-in-out;
    -o-transition: transform .4s ease-in-out;
    -webkit-transition: -webkit-transform .4s ease-in-out;
    transition: -webkit-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
    transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}
.skip-nav:focus{
    opacity: .9;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}
.nav{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1.5rem;
}
.logo{
    width: 5rem;
    height: 1.375rem;
    -webkit-transition: -webkit-transform .25s ease;
    transition: -webkit-transform .25s ease;
    -o-transition: transform .25s ease;
    transition: transform .25s ease;
    transition: transform .25s ease, -webkit-transform .25s ease;
}
.logo__link:hover .logo{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1)
}
.navigation{
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.nav__link{
    padding: .2rem 0;
    margin-left: 1.5rem;
    font-size: .875rem;
    color: var(--Desaturated-Blue);
    -webkit-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
@media screen and (max-width: 350px){
    .nav__link{
        margin-left: .625rem;
    }
}
.nav__link:hover{
    color: var(--Bright-Blue);
}
/* Start Styling Hero */
.hero{
    padding: 5rem 0;
    margin-bottom: 2.5rem
}
.hero>.flex{
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
}
.col-2{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 31.25rem;
    width: 100%
}
.illustration{
    max-width: 20rem;
    margin-bottom:0.625rem;
    height: 100%;
}
.hero__title{
    font-size: 1.625rem;
    line-height: 1.4;
    margin: 1.875rem 0;
}
.hero__para{
    line-height: 1.6;
    color: var(--Very-Dark-Blue);
    margin-bottom: 1.875rem
}
.form{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
        width: 100%;
    max-width: 20rem;
}
.form__input{
    width: 100%;
    position: relative
}
.input{
    border: 0.063em solid var(--Desaturated-Blue);
}
.validation__msg, .valid__msg{
    position: absolute;
    bottom: .5rem;
    left: 0;
    font-size: .7rem;
}
.validation__msg{
    color: #e60023;
}
.valid__msg{
    color:hsl(170, 45%, 43%)
}
.color-white{
    color: #fff
}
.red-border{
    border-color: #e60023;
}
.green-border{
    border-color:hsl(170, 45%, 43%)
}
.input, .submit-btn{
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    font-size: .875rem;
    margin-bottom: 1.5rem
}
.submit-btn{
    background-color: var(--Bright-Blue);
    color: #fff;
    -webkit-box-shadow: 0 0 0.313rem #323d54;
            box-shadow: 0 0 0.313rem #323d54;
    position: relative;
}
.submit-btn::before{
    content: '';
    position: absolute;
    top: -.25rem;
    left: -3.875rem;
    width: 0;
    height: 200%;
    
    -webkit-transform: skew(-55deg);
    -ms-transform: skew(-55deg);
    transform: skew(-55deg);
    background-color: rgba(255,255,255,.1);
    z-index: 2;
    transition: width .25s ease-in-out;
    overflow: hidden;
    -webkit-transition: width .25s ease-in-out;
    -moz-transition: width .25s ease-in-out;
    -ms-transition: width .25s ease-in-out;
    -o-transition: width .25s ease-in-out;
   
}
.submit-btn:hover::before{
    width: 200%;
}
.input:focus, .input:focus-visible{
    outline: .25em dashed var(--Moderate-Cyan);
}
.submit-btn:focus, .submit-btn:focus-visible{
    outline: .25em dashed var(--Very-Dark-Blue);
}
/* Start Features */
.features{
    background-color:var(--Light-Grayish-Blue);
    position: relative;
    padding: 2.5rem 0
}
.features::before{
    content: '';
    position: absolute;
    top: -3.313rem;
    left: 0;
    background-image: url(../images/bg-curve-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 6.25rem;
    width: 100%;
}
@media screen and (min-width: 650px){
    .features::before{
        background-image: url(../images/bg-curve-desktop.svg);
        top: -7.125rem;
        height: 7.125rem;
    }
}
.features>.flex{
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse
}
.features .col-2:first-child{
    margin-top: 5rem
}
.features__title{
    font-size: 1.25rem;
    margin-bottom: 1.875rem;
}
.features__para{
    text-align: left;
    line-height: 1.5;
    font-size: 1rem;
    color: var(--Desaturated-Blue);
    margin-bottom: 1.188rem;
}
.features__link{
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    padding: .5rem 0;
    color: var(--Moderate-Cyan);
    font-weight: 400;
    border-bottom: 0.063em solid var(--Moderate-Cyan);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-transition:all .25s ease-in-out;
    -o-transition:all .25s ease-in-out;
    transition:all .25s ease-in-out;
}
.features__link use{
    -webkit-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out 
}
.features__link:hover, .features__link:hover use{
    color: hsl(170deg 97% 47%);
    border-color: hsl(170deg 97% 47%);
    fill: hsl(170deg 97% 47%)
}
.features__link-arrow{
    margin-left: 0.563rem;
}
.quote{
    max-width: 17.75rem;
    background-color: #fff;
    padding: 2.625rem 1.5rem 1.25rem;
    border-radius: .313rem;
    -webkit-box-shadow: 0 0 2.188rem rgba(0,0,0,.1);
            box-shadow: 0 0 2.188rem rgba(0,0,0,.1);
}
.quote__blockquote{
    text-align: left;
    line-height: 1.6;
    font-size: 0.688rem;
    position: relative;
}
.quote__blockquote::before{
    content: '';
    position: absolute;
    top: -1.375rem;
    left: 0;
    background-image: url(../images/icon-quotes.svg);
    background-repeat: no-repeat;
    width: 0.813rem;
    height: 0.75rem;
}
.quote__figure-avatar{
    width: 1.438rem;
    height: 1.438rem;
    border-radius: 50%;
}
.quote__figure{
    margin-top: 1rem;
}
figcaption{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: .625rem;
    margin-left: .5rem;
}
.quote__figure-name{
    font-weight: 700;
}
.quote__figure-rank{
    font-size: .5rem;
}
/* Start styling Sign section  */
.sign{
    background-color: var(--Desaturated-Blue);
    color: #fff;
    padding: 3rem 0 3.125rem;
}
.sign .col-2:last-child{
    max-width: 16.875rem;
}
.sign>.flex{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.sign__title{
    margin-bottom: 1rem;
}
.sign__para{
    line-height: 1.6;
    max-width: 16.375rem;
    margin-bottom: 1.25rem;
    font-size: .875rem;
}
.sign .input{
    padding: 10px 8px;
    margin-bottom: 1.5rem;
}
.sign .submit-btn{
    padding: 11px ;
    overflow: hidden;
    -webkit-box-shadow: 0 0 10px #344058;
            box-shadow: 0 0 10px #344058;
}
/* Start Styling The Footer  */
footer{
    background-color: var(--Very-Dark-Blue);
    color :#fff;
    padding: 3.75rem 0 2.5rem
}
.ft__logo{
    width: 10.625rem;
    margin-bottom: 2.5rem
}
.ft__logo path{
    fill: #fff
}
footer > .flex, .fylo__ft-info, .ft__nav-1, .ft__nav-2, .ft-navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
.ft-link{
    color: #fff;
    font-weight: 400;
    position: relative;
    padding: 0.375rem 0 0.375rem 2.375rem;
    margin-bottom: 1.125rem;
    -webkit-transition: color 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out;
    transition: color 0.25s ease-in-out
}
.phone::before{
    content: '';
    position: absolute;
    top: 48%;
    left: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background-image: url(../images/icon-phone.svg);
    width: 1.125rem;
    height: 1.125rem;
}
.ft-email::before{
    content: '';
    position: absolute;
    top: 48%;
    left: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background-image: url(../images/icon-email.svg);
    width: 1.25rem;
    height: 1rem
}
.ft-navigation{
    margin-bottom: 2.375rem;
    width: 100%
}
.ft__nav-1 {
    margin: 1.438rem 0 2.375rem;
}
.ft__nav-2{
    margin-bottom: 1.563rem
}
.ft__nav-1 li, .ft__nav-2 li{
    margin-bottom: .938rem;
}
.ft__nav-link{
    color:#fff;
    padding: .375rem 0;
    -webkit-transition: color 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out;
    transition: color 0.25s ease-in-out
}
.ft__nav-link:hover, .ft-link:hover{
    color: var(--Bright-Blue)
}
.social__links{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
}
.social__links-brand{
    display: block;
}
.social__links .fa-brands{
    margin: 0 .5rem;
    font-size: .875rem;
    color: #fff;
    border-radius: 50%;
    width: 1.875rem;
    height: 1.875rem;
    border: .063em solid #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-align: center; 
        -ms-flex-align: center; 
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.fa-facebook-f:hover{
    color: 	#4267B2;
    border-color: #4267B2;
}
.fa-twitter:hover{
    color: #1DA1F2;
    border-color: #1DA1F2;
}
.fa-instagram:hover{
    color: #FCAF45;
    border-color: #FCAF45;
}
.attribution{ 
    font-size: .75rem;
    line-height: 1.6;
    width: 100%;
    text-align: center
}
.attribution .ft-link{
    padding: 0.375rem 0.125rem;
    color: var(--Moderate-Cyan);
    -webkit-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.attribution .ft-link:hover{
    color: rgb(58, 130, 212);
}
/* Scroll To Top Btn */
.scroll-up{
    opacity: 0;
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    z-index: 10;
    width: 1.563rem;
    height: 1.563rem;
    background-color: cyan;
    border-radius: 0.25rem;
    -webkit-transition: opacity .25s ease;
    -o-transition: opacity .25s ease;
    transition: opacity .25s ease;
}
.fa-arrow-up{
    color: #fff;
    font-size: .875rem
}
.visible-btn{
    opacity: 1
}
.scroll-up:focus, .scroll-up:focus-visible{
    outline: .2em dashed rgb(58, 130, 212);
}
.social__links-brand:focus , .social__links-brand:focus-visible ,a:focus, a:focus-visible{
    outline: .3em dashed rgb(58, 130, 212)
}
@media screen and (min-width:48em){
    body{
        text-align: left;
    }
    .nav{
        padding: 3.625rem 1.5rem
    }
    .logo{
        width: 10.625rem;
        height: 3rem;
    }
    .nav__link{
        margin-left: 2.5rem;
    }
    .hero{
        padding: 2.25rem 0 10rem;
        margin-bottom: 7.5rem;
    }
    .hero>.flex {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .col-2{
        width: 48%;
        max-width: 31.75rem;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    /* has to be checj=ked to recuce more css rule unused */
    .validation__msg, .valid__msg{
        bottom: -.5rem;
    }
    .hero .validation__msg{
        bottom: .4rem
    }
    .illustration {
        max-width: 31.75rem;
        margin-bottom: 0;
    }
    .features>.flex {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .features .col-2:first-child {
        margin-top: 0;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .sign{
        padding: 6.25rem  0 4.688rem
    }
    .sign>.flex {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .sign__title{
        font-size: 1.75rem;
    }
    .sign__para{
        max-width: 31.75rem;
        font-size: 1rem;
    }
    .sign .form{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .input, .sign .input{
        padding: 1rem
    }
    .sign-btn, .sign .submit-btn{
        padding: 1rem 2rem;
        margin-top: 1.5rem;
    }
    .ft-navigation{
        width: 100%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .social__links{
        width: auto;
    }
    .ft__nav-1, .ft__nav-2{
        margin: 0;
    }
}
@media screen and (min-width: 992px){
    .nav__link{
        margin-left: 3.5rem
    }
    .hero__title{
        font-size: 2.125rem
    }
    .form{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        width: 100%;
        max-width: none;
    }
    .hero .form__input{
        width: 60%;
    }
    .hero .validation__msg, .hero .valid__msg, .sign .validation__msg, .sign .valid__msg{
        bottom: -1.3rem;
        font-size: .875rem;
    }
    .form__input{
        margin-right: 1rem;
        max-width: none;
    }
    .input, .submit-btn {
        margin-right: 1rem;
        margin-bottom: 0;
    }
    .submit-btn{
        width: 40%
    }
    .ill-1{
        min-height: 30rem
    }
    .ill-2{
        min-height: 26.25rem
    }
    .features{
        padding: 4.5rem 0 6.25rem
    }
    .features::before {
        background-image: url(../images/bg-curve-desktop.svg);
        top: -7.125rem;
        height: 7.125rem;
    }
    .features__title{
        font-size: 1.938rem
    }
    .features__link{
        margin-top: 0;
    }
    .quote{
        max-width: 22.5rem;
        padding: 3.75rem 2rem 1.25rem;
    }
    .quote__blockquote{
        font-size: 0.938rem;
    }
    .quote__figure-avatar{
        width: 1.875rem;
        height: 1.875rem
    }
    .quote__figure-rank{
        font-size: 0.625rem;
    }
    figcaption{
        font-size: 0.813rem;
    }
    .sign .col-2:last-child {
        max-width: 30rem;
    }
    .sign .input{
        width: 100%;
        max-width: 30rem;
        margin-bottom: 0;
    }
    .sign .submit-btn{
        width: 100%;
        max-width: 12.5rem; 
    }
    footer{
        padding: 5rem 0 .25rem;
    }
    .ft__logo{
        margin-bottom: 2.188rem;
    }
    .ft-navigation{
        margin-bottom: 4.375rem
    }
}
@media screen  and (min-width: 1400px){
    .illustration{
        max-width: 38.75rem
    }
    .col-2:last-child{
        max-width:38.75rem
    }
    .sign .submit-btn{
        margin-top: 1.875rem
    }
}
